html,
body {
  margin: 0;
  padding: 0;
}

#game-container {
  background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  background-position: center;
  /* position: fixed; */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gameBg {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.frame {
  background: url(../img/iphonex.png) no-repeat center top; /* 170px x 200px */
  background-position: center;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

/* @font-face {
  font-family: 'MyriadProBold';
  src: url('../assets/fonts/MyriadPro-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../assets/fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */
